.cproject
.project
.settings
.pydevproject
.vscode
dist
src/.cyclops-instance
src/cyclops-instance
src/frontend/.libcyclops-frontend.o
src/frontend/libcyclops-frontend.o
src/frontend/message/message.h
src/frontend/message/message-string.h
src/input/.libcyclops-input.o
src/input/libcyclops-input.o
src/input/freerdp/.libcyclops-input-freerdp.o
src/input/freerdp/libcyclops-input-freerdp.o
src/notification/.libcyclops-notification.o
src/notification/libcyclops-notification.o
src/notification/redis/.libcyclops-notification-redis.o
src/notification/redis/libcyclops-notification-redis.o
src/notification/redis/.redis-pubsub
src/notification/redis/redis-pubsub
